{% extends 'base.html' %}

{% block head %}
<title>Task Creater</title>
{% endblock %}

{% block body %}
<div class="content" style=" margin: 0 auto; width: 400px">
    <h1 style="text-align: center">Task Creater</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create new task below!</h4>
    {% else %}
    <table style=" border: 1px solid #aaa ;border-collapse: collapse;
    width: 100%">
        <tr >
            <th style=" border: 1px solid #aaa ; height: 30px;">Task</th>
            <th style=" border: 1px solid #aaa; height: 30px;">Added</th>
            <th style=" border: 1px solid #aaa ; height: 30px;">Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td style="  border: 1px solid #aaa; text-align: center; padding: 5px;">{{ task.content }}</td>
                <td style="  border: 1px solid #aaa; text-align: center; padding: 5px;">{{ task.date_created.date() }}</td>
                <td style="   border: 1px solid #aaa; text-align: center; padding: 5px;">
                    <button style="margin-top:5px ;">
                             <a href="/delete/{{task.id}}">Delete</a>
                    </button>
                    <br>
                    <button style="margin-top:5px ;">
                             <a href="/update/{{task.id}}">Update</a>
                    </button>
                   
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form" style=" margin-top: 20px;">
        <form action="/" method="POST">
            <input type="text" name="content" id="content" style=" width: 70%;">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>
{% endblock %}